body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #252963;
}

.calculator {
    width: 350px;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    width: 100%;
    height: 70px;
    text-align: right;
    font-size: 2em;
    margin-bottom: 10px;
    padding: 0px;
    background-color: #f9f9f9;
    border: 1px solid #400000;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.buttons button {
    width: 100%;
    height: 60px;
    font-size: 1.5em;
    background-color: #24578e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #0056b3;
}

.buttons .operator {
    background-color: #f39c12;
}

.buttons .operator:hover {
    background-color: #e67e22;
}

.buttons .equals {
    grid-column: span 2;
    background-color: #27ae60;
}

.buttons .equals:hover {
    background-color: #229954;
}

.buttons .clear {
    background-color: #251a64;
}

.buttons .clear:hover {
    background-color: #c0392b;
}
