body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(night-sky-stars-mountain-scenery-milky-way-uhdpaper.com-4K-4.751.jpg);
    
  }
  
  .form-container {
    width: 70%;
    max-width: 500px;
 padding: 20px;
    background-color: #774a4a;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    color: #000000;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .radio-group,
  .checkbox-group {
    display: flex;
    gap: 5px;
    margin-bottom: 10PX;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
  